.loginErrors {
  color: red;
  font-size: 14px;
  margin-left: 2px;
  display: block;
}
.loginSuccess {
  color: green;
  font-size: 14px;
  margin-left: 2px;
}
.delSuccess {
  color: green;
  font-size: 18px;
  margin-left: 2px;
}
.text-color{
  color:#009CFF;
}
